<ion-view view-title="{{ city }}">
  <ion-content>
    <div class="row-title">
      {{weather.city.name}}/{{weather.city.country}}
    </div>

    <div class="row" ng-repeat="day in weather.list" ng-show="!day.dt.today">
      <div class="temperature">{{day.temp.day}} °C</div>
      <div class="date">
        <strong>{{day.dt*1000 | date:'EEE'}}</strong>
        {{day.dt*1000 | date:'dd/MM'}}
      </div>
      <!--<i class="icon-{{day.weather.0.main.toLowerCase()}}"></i>-->
    </div>
  </ion-content>
</ion-view>
